<% if user_signed_in? %>
<%= render 'shared/header' %>
<section>
  <div class="contents staff Slide">
    
  	<div class="sch">
      <%#= render 'schedule' %>
    </div>
  	<div class="tbar Btn">スタッフ一覧▼</div>
  	 <div class="Inner">
     <%= form_for @staff, method: :patch,class:"form-inline" do |f| %>
      <dl class="dl_table">
				<dt class="col-xs-3">名前</dt>
        <dd class=""><%= f.text_field :name,class:"form-control" %></dd>
        <dt class="col-xs-3">アイコン</dt>
        <dd><%= f.file_field :icon %><%= f.hidden_field :icon_cache %></dd>
        <dt class="col-xs-3">メール</dt>
        <dd><%= f.text_field :email,class:"form-control" %></dd>
        <dt class="col-xs-3">住所</dt>
        <dd><%= f.text_field :address,class:"form-control" %></dd>
        <dt class="col-xs-3">年齢</dt>
        <dd><%= f.text_field :age,class:"form-control" %></dd>
        <dt class="col-xs-3">役職</dt>
        <dd><%= f.text_field :post,class:"form-control" %></dd>
        <dt class="col-xs-3">備考</dt>
        <dd><%= f.text_field :memo,class:"form-control" %></dd>
        <dt class="col-xs-3">時給</dt>
        <dd><%= f.text_field :hourlywage,class:"form-control" %></dd>
			</dl>
      <div class="tac">
        <%= button_tag '確定する',class:'btn btn-primary' %>
      </div>
     <% end %>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>
<% end %>