<% if user_signed_in? %>
<%= render 'layouts/header' %>
<section>
  <div class="contents staff Slide">
  	<div class="sch">
      <%= render 'schedule' %>
    </div>
  	<div class="tbar Btn">スタッフ一覧▼</div>
  	<div class="Inner">
      <table class="staff_table">
				<tr>
					<th>名前</th>
				</tr>
				<% @staffs.each do |staff| %>
					<tr>
						<td><%= link_to staff.name,staff_path(staff) %>　<% if staff.icon? %> <%= image_tag(staff.icon, :size => "16x16") %> <% end %></td>
					</tr>
				<% end %>
			</table>
    </div>
  </div>
  <div class="mw"><%= render 'edit' %></div>
</section>
<%= render 'layouts/footer' %>
<% end %>