<% if user_signed_in? %>
<h1>スタッフ詳細</h1>

<%# if user_signed_in %>
<table class="staff_table">
		<tr>
			<th>名前</th>
			<th>メール</th>
			<th>住所</th>
			<th>年齢</th>
			<th>役職</th>
			<th>備考</th>
			<th>時給</th>
		</tr>
		<tr>
			<td><%= @staff.name %> <%= image_tag(@staff.icon, :size => "16x16") %></td>
			<td><%= @staff.email %></td>
			<td><%= @staff.address %></td>
			<td><%= @staff.age %></td>
			<td><%= @staff.post %></td>
			<td><%= @staff.memo %></td>
			<td><%= @staff.hourlywage %></td>
		</tr>
</table>
<%# end %>
<% end %>

<div class="sch">
	<%= render 'schedule' %>
</div>