<%= render 'header' %>

<section>
  <div class="contents pure-g">
    <div class="postslist pure-u-2-3">
			<article>
				<div class="post">
				  <h2><%= @blog.title %></h2>
				  <div class="option">
				  	<span><%= @blog.updated_at %></span>
					  <span>Category:<%= link_to @blog.category, category_path(@blog.category) %></span>
					  <% if @blog.tags.any? %>
					  <span>Tag:<%= raw @blog.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
					  <% end %>
				  </div>
				  <div class="box">
					  <div class="photo"><%= image_tag @blog.avatar.thumb.url if @blog.avatar? %></div>
					  <div class="text"><%= @blog.text %></div>
				  </div>
				  <div class="comment_area">
		      	<h3>コメント</h3>
		      	<%= render @blog.comments %>
		      	<%= render 'comments/form' %>
				  </div>
				  <% if user_signed_in? %>
					  <div class="dev">
						  <ul>
						    <li><%= link_to '編集',edit_dashboards_path(id: @blog.id), :class => "button-secondary pure-button button-xsmall" %></li>
						    <li><%= link_to '削除', delete_dashboards_path(id: @blog.id),method: :delete, data: { confirm: 'この記事を削除します。よろしいですか?' }, :class => "button-warning pure-button button-xsmall" %></li>
						  </ul>
						</div>
					<% end %>
				</div>
			</article>
    </div>
    <div class="sidenavi pure-u-1-3">
      <%= render 'side' %>
    </div>
  </div>
</section>

<%= render 'footer' %>
