<%= render 'header' %>

<section>
  <div class="contents pure-g">
    <div class="postslist pure-u-2-3">
			<article>
				<div class="post">
				  <h2><%= @blog.title %></h2>
				  <div class="option">
				  	<span><%= @blog.updated_at %></span>
					  <span>Category:<%= link_to @blog.category, category_path(@blog.category) %></span>
					  <% if @blog.tags.any? %>
					  <span>Tag:<%= raw @blog.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
					  <% end %>
				  </div>
				  <div class="box">
					  <div class="photo"><%= image_tag @blog.avatar.url %></div>
					  <div class="text"><%= @blog.text %></div>
				  </div>
				  <div class="comment">
		      	<h3>コメント</h3>
		        <%= render @blog.comments %>
						<h3>コメントする</h3>
						<%= render 'comments/form' %>
				  </div>
				</div>
			</article>
    </div>
    <div class="sidenavi pure-u-1-3">
      <%= render 'side' %>
    </div>
  </div>
</section>

<%= render 'footer' %>
