<%= render 'shared/header' %>
<section>
  <div class="contents blog row">
    <div class="postslist col-sm-12 col-md-8">
			<article>
				<div class="post">
				  <h2><%= @blog.title %></h2>
				  <div class="option">
				  	<span><%= @blog.updated_at.strftime('%Y/%m/%d') %></span>
					  <span>Category:<%= link_to @blog.category, category_path(@blog.category) %></span>
					  <% if @blog.tags.any? %>
					  <span>Tag:<%= raw @blog.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
					  <% end %>
				  </div>
				  <div class="box">
					  <div class="photo"><%= image_tag @blog.avatar.thumb.url if @blog.avatar? %></div>
					  <div class="text"><%= @blog.text %></div>
				  </div>
				  <%= render 'sns' %>
				</div>
			</article>
    </div>
    <div class="sidenavi col-sm-12 col-md-4">
      <%= render 'side' %>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>