<h4>以下の日時で予約を設定します。</h4>

<% if @new_reservation.errors.any? %>
    <div class="bg-danger">
        <strong>入力内容をご確認ください</strong>
        <ul>
            <% @new_reservation.errors.each do |attr,msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @new_reservation,:url => reservations_confirm_path,html:{class:"form-group reservation_form"} do |f| %> 
    <%= f.label '日時' %>
    <h4><%=  @new_reservation.day.strftime('%Y-%m-%d %H:%M') %></h4><%= f.hidden_field :day %>
    <div class="form-group name">
        <%= f.label 'お名前' %><%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group mail">
        <%= f.label 'メールアドレス' %><%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group staff">
        <%= f.select :staff_id,options_for_select(@staffs),{:prompt => 'Staffを選択'}, {:class => 'form-control'} %>
    </div>
    <div class="form-group time">
        <%= f.select :time,options_for_select(@time,:selected => @new_reservation.time.to_s),{:prompt => '利用時間を選択'}, {:class => 'form-control'} %>
    </div>
    <div class="form-group member">
        <%= f.select :member,options_for_select(@member,:selected => @new_reservation.member.to_s),{:prompt => '人数を選択'}, {:class => 'form-control'} %>
    </div>
    <div class="form-group content">
        <%= f.select :content, options_for_select(@content),{:prompt => 'プランを選択'}, {:class => 'form-control'} %>
    </div>
    <div type="submit" class="form-group tac">
        <%= f.submit '確認画面へ',class:"btn btn-default" %>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY/MM/DD HH:mm',
            stepping: 30
        });
    });
</script>