<%= render 'layouts/header' %>
<%= javascript_tag do %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: '',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @all_reservation.to_json %>,
    dayClick: function(date, jsEvent, view) {
				location.href = '/reservations/list/' + date.format();
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})
})

<% end %>

<section>
  <div class="contents reservations row">
    <div class="today">
      <h3><%= params[:day] %></h3>
      <%= @not_reservation_text %>
      <p>以下の時間でご予約ができます。</p>

      <%= form_for @new_reservation,:url => new_reservation_path(),:method => 'get',html:{class:"form-inline"} do |f| %>
      <ul>
        <% @search_reservation.each do |time| %>
          <li>
          	<%= button_tag(type: 'submit',name: 'daytime',value: time,:class => 'btn btn-default') do %>
          		<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
							<%= content_tag(:strong, "#{time}:00") %>
						<% end %>
          </li>
        <% end %>
      </ul>
      <%= f.hidden_field :day,:value => params[:day] %>
      <% end %>
    </div>
    <div id="calendar"></div>
  </div>
</section>
<%= render 'layouts/footer' %>
