
<h1>予約</h1>
<%= javascript_tag do %>
<%# binding.pry %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: '',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @reservation_list.to_json %>,
    dayClick: function(date, jsEvent, view) {
				location.href = '/reservations/list/' + date.format();
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})

})
  
<% end %>
<% 
@businessHours = (10..22).to_a
#binding.pry
 %>

<section>
  <div class="contents reservations pure-g">
    <div id="calendar" class="pure-u-3-5"></div>
    <div class="sidenavi pure-u-2-5">
      <table class="today">
      <caption><%= params[:day] %></caption>
		    <% @businessHours.each do |t| %>
		    	<tr
		    	<% if @todaysReservation.nil? %>
			    	>
			    	<% else %>
			      <% @todaysReservation.each do |reservation| %>
				      <% if reservation.day.hour <= t && t <= reservation.day.hour + reservation.time.hour %>
			      	 class="no"
				      <% end %>
				    <% end %>
				    >
				  <% end %>
			      <th><%= t %><span>:</span>00</th>
			      <td>&nbsp;</td>
			    </tr>
		    <% end %>
      </table>
    </div>
  </div>
</section>

<%= raw @reservation_list.to_json %>
