
<%= javascript_tag do %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		header: {
				left: '',
				center: 'title',
				right: ''
			},
		events: 
		<%= raw @reservation_list.to_json %>,
    dayClick: function(date, jsEvent, view) {
				location.href = '/reservations/list/' + date.format();
    },
		timeFormat: 'H:mm', // uppercase H for 24-hour clock
	})
})

<% end %>

<section>
  <div class="contents reservations row">
    <div class="today">
      <h3><%= params[:day] %></h3>
      <p>以下の時間でご予約ができます。</p>
      <%= form_for @new_reservation,:url => new_reservation_path(),:method => 'get',html:{class:"form-inline"} do |f| %>
			<%# @new_reservation.day = 'test' %>
      <%= f.hidden_field :day,:value => params[:day] %>
      <ul>
        <% @reservation_today.each do |t| %>
          <% if t[1]=='○' %>
            <li>
            	<%= button_tag(type: 'submit',name: 'daytime',value: t[0],:class => 'btn btn-default') do %>
            		<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
								<%= content_tag(:strong, "#{t[0]}:00") %>
							<% end %>
							<%#= button_to "#{t[0]}:00",:class =>'btn btn-default' %>

              <!-- <a href="<%=  %>" class="btn btn-default">
                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span><strong><%= t[0] %><span>:</span>00</strong>
              </a> -->
            </li>
          <% end %>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div id="calendar"></div>
  </div>
</section>
