<div id="blog">
	<h3>Blog</h3>
	<div class="new">
		<p><%= link_to '新規投稿',new_blog_path, :class => "btn btn-primary" %></p>	
	</div>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>タイトル</th>
					<th>状態</th>
					<th>カテゴリー</th>
					<th>タグ</th>
					<th>コメント</th>
					<th>日時</th>
				</tr>
			</thead>
			<tbody>
			<% @blogs.each do |blog|  %>
				<tr>
					<td><%= link_to blog.title, blog_path(blog) %>
						<div><%= link_to '編集', edit_blog_path(blog), :class => "btn btn-primary" %> <%= link_to '削除', blog_path(blog), :class => "btn btn-warning" , method: :delete,data:{confirm:"この記事を削除してもよろしいですか?"} %></div>
					</td>
					<td><%= blog.status? ? '公開':'下書き' %></td>
					<td><%= blog.category %></td>
					<td><%= blog.tags.map(&:name).map {|t| t}.join(', ') %></td>
					<td><%= blog.comments.any? ? 'あり':'なし' %></td>
					<td><%= blog.updated_at.strftime('%Y/%m/%d %H:%M:%S')  %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>