<%= render 'shared/header' %>
<script type="text/javascript">
    $(function () {
        $('button').click(function(){
          window.history.back(-1);
          return false;
        });
    });
</script>
<section>
  <div class="contents works row">
    <p>以下の日時で登録します。よろしいですか？</p>
      <%= form_for @works,:url => dashboards_path,html:{class:"form-group"} do |f| %>
        <table class="table table-bordered">
          <tr class="active">
            <th><%= f.label '日時' %></th>
            <th><%= f.label '開始時間' %></th>
            <th><%= f.label '終了時間' %></th>
          </tr>
         <% @works.each do |work| %>
           <%= fields_for 'work[]',work,index: nil do |fh| %>
            <tr>
              <td><%= fh.hidden_field :date %><%= work.date.strftime("%Y/%m/%d") %></td>
              <td><%= fh.hidden_field :start %><%= work.start.try(:strftime, "%Y/%m/%d %H:%M")  %></td>
              <td>
                  <%= fh.hidden_field :end %><%= work.end.try(:strftime, "%Y/%m/%d %H:%M")  %>
                  <%= fh.hidden_field :break %>
                  <%= fh.hidden_field :staff_id %>
              </td>
            </tr>
           <% end %>
         <% end %>
        </table>
        <p class="tac">
          <%= button_tag(type: 'button',class:"btn btn-default") do
            content_tag(:span, '戻る')
          end %>
          <%= f.submit '送信',class:"btn btn-default" %>
        </p>
    <% end %>
  </div>
</section>
<%= render 'shared/footer' %>