<% if user_signed_in? %>
<%= javascript_tag do %>
$(function(){
	$('#calendar').fullCalendar({
		lang: 'ja',
		height:700,
		eventRender: function(events, element) {
			//if(events.img){
			//    $(element[0]).find('.fc-title').prepend('.fc-content')
			//imgプロパティが存在するイベントだけtitleを画像に差し替え
			//    .css("border-color", "transparent")
			//    .css("background-color", "transparent")
			//    .html('<img src="'+events.img+'" width="32" height="32" class="icon" alt="'+ events.title +'" title="'+  events.title +'" />');
			//}
    },

		header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
		displayEventEnd:{
    month: true,
    basicWeek: true,
    'default': true
},	
		events: 
		<%= raw @works_list.to_json() %>,
		dayClick: function(date, jsEvent, view) {
				location.href = '/dashboards/workday/' + date.format();
    }
	,
		timeFormat: 'H:mm', // uppercase H for 24-hour clock

	})
	//名前消す
	//$('.fc-title').css('display','none');
	//$($(".fc-event-container")[0]).addClass('icons').prepend($('.fc-content'));
	//$(".fc-time").css('display','none');
})
  
<% end %>
<div class="dash">
	<div class="title">
		<h2>Dashboard<strong>:<%= current_user.email %></strong></h2>
	</div>

	<ul class="nav row">
		<li class="col-xs-4"><%= link_to "Blog", new_dashboard_path() %></li>
		<li class="col-xs-4"><%= link_to "シフト登録", new_dashboard_path() %></li>
		<li class="col-xs-4"><%= mail_to 'user@example.com','メールで連絡する' %></li>
	</ul>

	<div id="calendar"></div>
</div>
<% end %>