<% if user_signed_in? %>
<%= render 'shared/header' %>
<div class="dash">
	<div class="title">
		<h2>Dashboard<strong>:<%= current_user.username %></strong></h2>
	</div>

	<h3>シフト登録</h3>
	<% if @new_work.errors.any? %>
    <div class="bg-danger">
      <strong>入力内容をご確認ください</strong>
      <ul class="error">
        <% @new_work.errors.each do |attr,msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
	<% end %>

	<%= form_tag('/dashboards/confirm',class:"form-inline") do %>
		<%= fields_for 'work[]',@new_work,index: nil do |fh| %>
	    <%= fh.hidden_field :staff_id,:value => current_user.staff[:id] %>
		    <div class="block">
			    <div class='input-group date'>
				    <%= @new_work.date.strftime('%Y-%m-%d') %>
				    <%= fh.hidden_field :date,:value => @new_work.date.strftime('%Y-%m-%d') %>
			    </div>
			    <div class="form-group time start">
			    	<%= select_tag 'work[][start]', options_for_select(@worktimes),:selected => @new_work.start.to_s,:prompt => '開始時間を選択',:class => 'form-control' %>
			    </div>
			    <div class="form-group time end">
			    	<%= select_tag 'work[][end]', options_for_select(@worktimes),:selected => @new_work.start.to_s,:prompt => '終了時間を選択',:class => 'form-control' %>
			    </div>
			    <div type="submit" class="form-group">
					  <%= fh.hidden_field :break,:value => (@new_work.date+1.hour).strftime('%Y-%m-%d %H:%M') %>
					  <%= button_tag(type: 'submit',class:"btn btn-default") do
		          content_tag(:span, '確認画面へ')
		        end %>
			    </div>
		    </div>
		  <% end %>
	<% end %>	
</div>

<%= render 'shared/footer' %>
<% end %>